webshopFormsApp/Connected Services/ServiceReference1/webshopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="webshopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/Webshop/webshopService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/Webshop/webshopService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/Webshop/webshopService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebshopDomain" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/Webshop/webshopService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwebshopService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_SaveProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProduct" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_SaveProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProductResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetUserByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByID" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetUserByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_SaveNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewUser" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_SaveNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_CheckUserAuthentication_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAuthentication" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_CheckUserAuthentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetAllOrdersByCustomerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersByCustomerID" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetAllOrdersByCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersByCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetOrderByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByID" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetOrderByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_SaveNewOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewOrder" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_SaveNewOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetProductsFromOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsFromOrder" />
  </wsdl:message>
  <wsdl:message name="IwebshopService_GetProductsFromOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsFromOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IwebshopService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/GetAllProducts" message="tns:IwebshopService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/GetAllProductsResponse" message="tns:IwebshopService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/GetProductById" message="tns:IwebshopService_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/GetProductByIdResponse" message="tns:IwebshopService_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/SaveProduct" message="tns:IwebshopService_SaveProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/SaveProductResponse" message="tns:IwebshopService_SaveProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/GetAllUsers" message="tns:IwebshopService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/GetAllUsersResponse" message="tns:IwebshopService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/GetUserByID" message="tns:IwebshopService_GetUserByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/GetUserByIDResponse" message="tns:IwebshopService_GetUserByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/GetUserByName" message="tns:IwebshopService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/GetUserByNameResponse" message="tns:IwebshopService_GetUserByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/SaveNewUser" message="tns:IwebshopService_SaveNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/SaveNewUserResponse" message="tns:IwebshopService_SaveNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthentication">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/CheckUserAuthentication" message="tns:IwebshopService_CheckUserAuthentication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/CheckUserAuthenticationResponse" message="tns:IwebshopService_CheckUserAuthentication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersByCustomerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/GetAllOrdersByCustomerID" message="tns:IwebshopService_GetAllOrdersByCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/GetAllOrdersByCustomerIDResponse" message="tns:IwebshopService_GetAllOrdersByCustomerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/GetOrderByID" message="tns:IwebshopService_GetOrderByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/GetOrderByIDResponse" message="tns:IwebshopService_GetOrderByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNewOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/SaveNewOrder" message="tns:IwebshopService_SaveNewOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/SaveNewOrderResponse" message="tns:IwebshopService_SaveNewOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsFromOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IwebshopService/GetProductsFromOrder" message="tns:IwebshopService_GetProductsFromOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwebshopService/GetProductsFromOrderResponse" message="tns:IwebshopService_GetProductsFromOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwebshopService" type="tns:IwebshopService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/SaveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByID">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/GetUserByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewUser">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/SaveNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAuthentication">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/CheckUserAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersByCustomerID">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/GetAllOrdersByCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByID">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/GetOrderByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewOrder">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/SaveNewOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsFromOrder">
      <soap:operation soapAction="http://tempuri.org/IwebshopService/GetProductsFromOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webshopService">
    <wsdl:port name="BasicHttpBinding_IwebshopService" binding="tns:BasicHttpBinding_IwebshopService">
      <soap:address location="http://localhost:8080/Design_Time_Addresses/Webshop/webshopService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>